/* Rimuove la sottolineatura dai link a ogni elemento <a> */
a {
    text-decoration: none;
}

a:visited {
    color: black; /* Colore dei link visitati */
}

/* Rimuove i pallini dalle liste */
.nopalle {
    list-style-type: none;
}

/*bordi arrotondati per le immagini */
.img {
    display: block;
    margin: 10px 0;
    border-radius: 10px;
}

/* Stili per i bottoni */
.button {
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: inline-block;
    margin-bottom: 10px;
}

/* Interazione con il passaggio del mouse sui bottoni*/
.button:hover {
    padding: 5px 10px;
    background-color: #83a8db;
}

/*typing da finire*/
.typing {
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
@keyframes hide-caret {
    to { border-right-color: transparent; }
}
/* ...existing code... */